# 忽略临时文件
*.tmp

# 忽略的目录及其所有子目录和文件
runs/   # 记录训练过程的
pre_result/  #是保存预测的图片结果
weights/  # 预训练权重文件
ckpt/  # 保存训练过程的权重
pre_gd_cnt.txt   # 后处理产生的文件
crowd_datasets/SHHA/test.list 
crowd_datasets/SHHA/train.list
crowd_datasets/SHHA/val_real_test/   #验证计的图片和文件
crowd_datasets/SHHA/train_val_test/   # 训练集和验证的图片和注释比例划分文件
crowd_datasets/SHHA/train/  #train的图片和注释
crowd_datasets/SHHA/test/  #test的图片和注释